@model GitUser

@{
    ViewData["Title"] = "User Details";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div>
    <h4><strong>GitHub profile </strong> - @Html.DisplayFor(Model => Model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Followers)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Followers)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Url)
        </dd>
</div>



