@model IEnumerable<UserSearch>

@{
    ViewData["Title"] = "Search History";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <thead >
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccessDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th>
                        Operation
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccessDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Login)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.User.Id" class="btn-sm btn-success">Details</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
<div>
    <a asp-controller="User" class="btn btn-primary" asp-action="Index">Back to Search</a>
</div>
